// 颜色
$color-white: #ffffff;
$color-green: #2ECC40;
$color-red: #FF4136;
$color-black: #111111;
$color-orange: #FF851B;
$color-yellow: #FFDC00;
$color-blue: #0074D9;
$color-purple: #B10DC9;

// 背景图
$bgc-navy: #001F3F;
$bgc-blue: #0074D9;
$bgc-aqua: #7FDBFF;
$bgc-teal: #39CCCC;
$bgc-olive: #3D9970;
$bgc-green: #2ECC40;
$bgc-lime: #01FF70;
$bgc-yellow: #FFDC00;
$bgc-orange: #FF851B;
$bgc-red: #FF4136;
$bgc-fuchsia: #F012BE;
$bgc-purple: #B10DC9;
$bgc-maroon: #85144B;
$bgc-white: #FFFFFF;
$bgc-gray: #AAAAAA;
$bgc-silver: #DDDDDD;
$bgc-black: #111111;