registry=https://registry.npmjs.org
# Scope
# Note: This is an example, not a requirement.
@babel:registry=https://registry.npmjs.org
# SASS
sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass
