/*
Error: File to import not found or unreadable: mazey-ui-pinnacle/src/scss/index.scss.
        on line 1 of chat-timeline.scss

1: @import "mazey-ui-pinnacle/src/scss/index.scss";
2: 
3: .mv-chat-timeline{
4:   width: 450px;
5:   height: 100%;
6:   .message-list{

Backtrace:
chat-timeline.scss:1
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:44:in `import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: mazey-ui-pinnacle/src/scss/index.scss.\A         on line 1 of chat-timeline.scss\A \A 1: @import \"mazey-ui-pinnacle/src/scss/index.scss\";\A 2: \A 3: .mv-chat-timeline{\A 4:   width: 450px;\A 5:   height: 100%;\A 6:   .message-list{"; }
