// class begin
%m-pointer {
    cursor: pointer;
}

%m-show{
    display: block;
}

%m-hide{
    display: none;
}
// class end


%m-flex-middle {
    display: flex;
    align-items: center;
}

%m-flex-center {
    display: flex;
    justify-content: center;
}

%m-flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

%m-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}